.form {
  display: flex;
  border-top: 1px solid #d3d3d3;
}

.input {
  border: none;
  border-radius: 10;
  padding: 2%;
  width: 80%;
  font-size: 1em;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  color: #fffffe !important;
  text-decoration: none;
  background: #7f5af0;
  padding: 18px;
  display: inline-block;
  border: none;
  width: 20%;
}
